@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap");

:root {
	--ff: "Inter", sans-serif;
	--fw: 300;

	--bg-color: rgb(187, 188, 191);
	--bg-gradient: linear-gradient(
		0deg,
		rgba(187, 188, 191, 1) 0%,
		rgba(244, 246, 251, 1) 30%
	);
	--fg-1: rgb(77, 77, 77);
	--fg-2: rgb(137, 41, 255);

	--dp: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

body {
	background: var(--bg-color);
	background: var(--bg-gradient);
	color: var(--fg-1);
	font-family: var(--ff);
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;

	height: 100svh;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5svh;
	margin: 1rem 1rem 10svh 1rem;
}

header img {
	height: 100%;
}

.icons a {
	color: var(--fg-1);
	margin-left: 1rem;
}

.icons a:active {
	color: var(--fg-2);
}

.hero-info {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	text-align: center;
}

.hero-info .hero-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.hero-title #call {
	line-height: 150%;
}

.hero-title #call::after {
	content: ": \a";
	white-space: pre;
}

.hero-title #role {
	color: var(--fg-2);
	font-weight: 800;
}

.hero-title #role::after {
	content: "\a";
	white-space: pre;
}

.hero-info p {
	margin-bottom: 2rem;
}

.hero-info .buttons {
	height: 6rem;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttons a {
	color: white;
	font-weight: 600;
	text-decoration: none;
	background-color: var(--fg-2);
	padding: 0.5rem 1.5rem;
	border-radius: 0.125rem;
	filter: var(--dp);
}

.wrapper::after {
	content: "";
	position: absolute;
	background-image: url("./assets/blob-primary.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 58svh;
	aspect-ratio: 1/1;
	bottom: -150px;
	left: -100px;
	z-index: -1;
}

@media only screen and (min-width: 600px) {
	body {
		font-size: 1.5rem;
	}

	header {
		height: 10svh;
		width: 97.5svw;
	}

	.hero-info .hero-title {
		font-size: 2.5rem;
		margin-bottom: 3rem;
	}

	.hero-info p {
		margin-bottom: 3rem;
	}

	.hero-info .buttons {
		flex-direction: row;
		align-items: center;
		width: 75svw;
		height: fit-content;
	}

	.buttons a {
		padding: 1rem 1.5rem;
	}
}

@media only screen and (min-width: 1100px) {
	.hero-info {
		width: 50svw;
		align-items: flex-start;
		text-align: left;
	}

	.hero-info .hero-title {
		width: 100svw;
		margin-bottom: 1rem;
	}

	.hero-title #call::after {
		content: " ";
	}

	.hero-info p {
		font-size: 1.25rem;
	}

	.hero-info .buttons {
		width: 75%;
	}

	.buttons a {
		font-size: 1.5rem;
	}

	.hero-info::before {
		content: "";
		position: absolute;
		z-index: 0;
		right: 15px;
		bottom: 0;
		width: 45svw;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;

		background-image: url(./assets/blob-secondary.svg);
	}

	.hero-info::after {
		content: "";
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		width: 45svw;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;

		background-image: url(./assets/placeholder-image.png);
	}

	:not(.hero-info::after) {
		z-index: 0;
	}
}
